* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    width: 100%;
}

/*Footer*/

footer{
    width:100%;
    background-color: #F58734;
    font-family: "Montserrat" sans-serif;
}

footer .linha1{
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Montserrat" sans-serif;
}

footer ul{
    list-style: none;
    margin:0px;
    padding:0px;        
    
}

footer nav{
    display:flex;
    flex-direction: column;
    align-items: center;

    height: 330px;
}

footer h5{
    text-align: center;
    color: #F7F7F7;
    font-weight: 800;
    font-size: 18px;
    font-family:"Montserrat" sans-serif;            
    background-color: #011F5B;
    border-radius: 10px;

    padding:10px 10px 10px 10px;
    margin-bottom:15px;
}

footer ul li{            
    text-align: center;
    color:white;
    font-weight: 600;
    font-size: 18px;  
    font-family: "Montserrat" sans-serif;

    margin:20px 0px 20px 0px;
}

footer ul li a{
    color:white;
    text-decoration: none;
}

footer ul li a:hover{
    color: #011F5B;
}

footer .endereco{
    font-weight: 600;
    font-size: 18px;  
    font-family: "Montserrat" sans-serif;
    color:#F7F7F7;
    text-align: center;
    width:20%;
}

footer .linha2{
    height:35px;
    display:flex;
    justify-content: center;
    margin:0px;
    padding:10px
}

footer .linha2 a{
    font-family: "Montserrat" sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #F7F7F7;
    text-decoration: none;
    padding:5px;            
}

footer .linha2 a:first-child{
    border-right: 3px solid #F7F7F7;
}

footer .linha2 a:hover{
    color:#011F5B;
}